<!DOCTYPE html>
<html lang="pt-br">
    <% include partials/head %>
<body>
    <div class="container">
        <% include partials/header %>
        <% include partials/nav %>
        <p></p>
        <div class="row offset-4 col-8">
            <a class="btn btn-primary" href="/utils/removeBlankContacts">Remove Blank Contacts</a>
            <a class="btn btn-danger" href="/utils/removeAllContacts">Remove All Contacts</a>
        </div>
        <p></p>
        <table class="table table-dark">
            <% contacts.forEach(function(contact){ %>
                <tr>
                    <td><%=contact.name %></td>
                    <td><%=contact.email %></td>
                    <td>
                        <a href="/updateById/<%=contact._id %>"><button class="btn btn-primary">Update</button></a>
                    </td>
                    <td>
                        <a href="/deleteById/<%=contact._id %>"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            <% });  %>
        </table>
        <% include partials/footer %>
    </div>
</body>

</html>