<!DOCTYPE html>
<html lang="pt-br">
<% include partials/head %>
<body>
    <div class="container">
        <% include partials/header %>
        <% include partials/nav %>
        
        <table class="table table-dark">
            <% contact %>
            <tr>
                <td> <%=contact.name %> </td>
                <td><%=contact.email %></td>
                <td>
                    <button class="btn-primary"><a href="/updateById/<%=contact._id %>">Update</a></button>
                </td>
                <td>
                    <button class="btn-danger"><a href="/deleteById/<%=contact._id %>">delete</a></button>
                </td>
            </tr>
        </table>
        <% include partials/footer %>
    </div>
</body>

</html>